Repository openforge/responsive-development-guide: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

style(): updating to use a simplified approach to CSS and making it more apparent what the document does
  apps/example-app/src/app/home/components/app-content/app-content.component.html
  apps/example-app/src/app/home/components/app-content/app-content.component.scss
  apps/example-app/src/app/home/components/default-phone-layout/default-phone-layout.component.html
  apps/example-app/src/app/home/components/default-phone-layout/default-phone-layout.component.scss
  apps/example-app/src/app/home/components/default-phone-layout/default-phone-layout.component.ts
  apps/example-app/src/app/home/components/devices-popover/devices-popover.component.html
  apps/example-app/src/app/home/components/iphone-layout/iphone-layout.component.scss
  apps/example-app/src/app/home/home.page.html
  apps/example-app/src/app/home/home.page.scss
  apps/example-app/src/app/home/home.page.ts
  apps/example-app/src/global.scss
Due: eslint --fix, stylelint --fix

feat(): disable hooks for now
  .husky/pre-push
Due: none

feat(): re enable build hook and fix build
  .husky/pre-push
  src/main.ts
  src/tsconfig.app.json
  src/tsconfig.json
Due: eslint --fix

feat(): fix lint errors
  src/app/home/home.page.ts
  src/polyfills.ts
Due: eslint --fix

feat(): update styles on layouts
  src/app/home/components/iphone-layout/iphone-layout.component.html
  src/app/home/components/iphone-layout/iphone-layout.component.scss
  src/app/home/components/iphone-x-layout/iphone-x-layout.component.html
  src/app/home/components/iphone-x-layout/iphone-x-layout.component.scss
Due: eslint --fix, stylelint --fix

hotfix(): update package json
  package-lock.json
  package.json
Due: none

fix(): update dependencies version and minor error code
  package-lock.json
  package.json
  src/app/home/home.page.ts
Due: eslint --fix

feat(): update general styles
  src/app/home/components/app-content/app-content.component.html
  src/app/home/components/app-content/app-content.component.scss
  src/app/home/components/app-content/app-content.component.ts
  src/app/home/home.page.html
  src/app/home/home.page.scss
  src/index.html
Due: eslint --fix, stylelint --fix

fix/styling-for-small-display
  src/app/home/components/default-phone-layout/default-phone-layout.component.scss
  src/app/home/home.page.scss
Due: stylelint --fix

fix(): width now scales
  src/app/home/home.page.scss
Due: stylelint --fix

Path conditions:
  eslint --fix: ((any of: **/*.js) or (any of: **/*.ts)) or (any of: **/*.html)
  stylelint --fix: (any of: **/*.scss) or (any of: **/*.css)
